services:
  app:
    build:
      context: .
      target: dev
    ports:
      - 4321:4321
    working_dir: /app
    command: pnpm run dev --host 0.0.0.0
    volumes:
      - ./:/app
      - /app/node_modules
