---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import Header from "@/components/Header.astro";
import Footer from "@/components/Footer.astro";
import Socials from "@/components/Socials.astro";
import LinkButton from "@/components/LinkButton.astro";
import Card from "@/components/Card.astro";
import Hr from "@/components/Hr.astro";
import getSortedPosts from "@/utils/getSortedPosts";
import IconRss from "@/assets/icons/IconRss.svg";
import IconArrowRight from "@/assets/icons/IconArrowRight.svg";
import { SITE } from "@/config";
import { SOCIALS } from "@/constants";

import { Image } from "astro:assets";
import hassanImage from "@/assets/images/hassan_pharoh.png";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);
const recentPosts = sortedPosts.filter(({ data }) => !data.featured);
---

<Layout>
  <Header />
  <main id="main-content" data-layout="index">
    <section id="hero" class="pt-8 pb-6">
      <h1 class="text-5xl font-bold sm:text-7xl mb-8">Welcome to my blog</h1>

      <div class="flex flex-col sm:flex-row items-center gap-8">
        <div class="flex justify-center sm:justify-start sm:basis-[35%]">
          <Image
            src={hassanImage}
            alt="Hassan Sarwat"
            class="w-48 h-48 sm:w-64 sm:h-64 rounded-3xl object-cover border-4 border-skin-accent shadow-lg"
          />
        </div>
        
        <div class="sm:basis-[65%]">
          <p class="my-6">
            This is a personal blog where I write about stuff I want to write about, some of
            it will be technical, some will not be. If you're interested in my
            profile please check the <a href="/about/" class="text-accent underline decoration-dashed underline-offset-4 hover:text-accent/80">about</a> page.
          </p>
          <p class="my-6">
            All Opinions are my own and are not representative of any company I work
            or used to work for. Every word here is my own and not written by AI. 
          </p>
          <p class="my-6">
            All topics are open to discussion or feedback, feel free to reach out in
            one of the links below or discuss in the comments.
          </p>
        </div>
      </div>
    </section>
    <Hr />

    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured" class="pt-12 pb-6">
            <h2 class="text-2xl font-semibold tracking-wide">Featured</h2>
            <ul>
              {featuredPosts.map(data => (
                <Card variant="h3" {...data} />
              ))}
            </ul>
          </section>
          {recentPosts.length > 0 && <Hr />}
        </>
      )
    }

    {
      recentPosts.length > 0 && (
        <section id="recent-posts" class="pt-12 pb-6">
          <h2 class="text-2xl font-semibold tracking-wide">Recent Posts</h2>
          <ul>
            {recentPosts.map(
              (data, index) =>
                index < SITE.postPerIndex && <Card variant="h3" {...data} />
            )}
          </ul>
        </section>
      )
    }

    <div class="my-8 text-center">
      <LinkButton href="/posts/">
        All Posts
        <IconArrowRight class="inline-block rtl:-rotate-180" />
      </LinkButton>
    </div>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener("astro:page-load", () => {
    const indexLayout = (document.querySelector("#main-content") as HTMLElement)
      ?.dataset?.layout;
    if (indexLayout) {
      sessionStorage.setItem("backUrl", "/");
    }
  });
</script>
